body {
  font-family: "DM Sans", sans-serif;
  width: 1440px;
  height: 3202px;
}
:root {
  --font-family-main: "DM Sans", sans-serif;
  --text-color-primary: #4a3aff;
  --text-color-secondary: #f3f1ff;
  --text-color-800: #170f49;
  --text-color-700: #514f6e;
  --text-color-600: #6f6c90;
  --text-color-500: #a0a3bd;
  --text-color-400: #d9dbe9;
  --text-color-300: #eff0f6;
  --text-color-200: #f7f7fb;
  --text-color-100: #ffffff;
}

.container {
  display: flex;
  justify-content: center;
  width: 1242px;
}
.container-header {
  display: flex;
  align-items: center;
}
.logo {
  display: flex;
  text-decoration: none;
}

.logo-theme {
  margin-right: 16px;
}

.logo-black-theme {
  color: var(--text-color-800);
  font-size: 33px;
  font-weight: 800;
  margin-right: 7px;
}

.logo-blue-theme {
  color: var(--text-color-primary);
  font-size: 33px;
  font-weight: 800;
}

.button {
  border: none;
  color: var(--text-color-100);
  background-color: var(--text-color-primary);
  font-weight: 100;
  padding: 20px 40px;
  border-radius: 56px;
  box-shadow: 0px 3px 3px rgb(74, 58, 255, 0.12);
}
